.container {
    padding: 8px 8x;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    margin: 8px 8px;
}

.title {
    font-size: 18;
    font-weight: bold;
}

.description {
    font-size: 14;
    font-style: italic;
}

button {
    background-color: red;
    margin: 8px;
    padding: 8px;
}